@import '../../../style/_settings';

.compare {
	padding: 0 $gutter;
}
.register-button-wrapper {
  position: fixed;
  bottom: 20px;
  width: 100%;
  left: 0;
  text-align: center;
  @media screen and(max-height: 300px) {
    position: static;
  }
}
